*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  #body{
    min-height: 30vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  .header{
    background-color: white;
    color: #4097DB;
    width: 100%;
    padding:15px;
    border-color: black;
    border-radius: 3px solid;
    text-align: center;
    height: 170px;
    padding: 30px;
  }
  
  .header-title{
    font-size: 50px;
  }
  
  .header-text{
    font-size: 20px;
  }
  .img{
    text-align: center;
  }
  .nav{
         height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5rem 0rem;
        background-color: #fff;
        color: black;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}
  .navigation-menu {
    margin-left: auto;
  }
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
   
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .section{
    flex-flow: row wrap;
    width: 90%;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
    
  }
  
  .section > div {
    padding: 30px;
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
 
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #2642af;
  }
  
  .small-div {
    width: 30%;
  }
  
  .big-div {
    width: 80%;
  }
  
  .bg-grey{
    background-color:#f6f6f6;
  }
  
  .orange {
    color: #f4511e;
  }
  
  .div-title {
    font-size: 36px;
    font-weight: 600;
    color:#00537C;
    
    line-height: 30px;
  }
  .div-page{
    font-size: larger;
    font-weight: bold;
  }
  .div-title1{
color:black;
font-weight: bold;
font-size: 36px;
line-height: 30px;
  }
  
  .contact-container  {
    background: #07477A;
    flex-flow: column;
    color:white;
    padding-top: 30px;
    display:flexbox;
    justify-content: space-between;
    width:80%;
    
  }
  .div-title{
    text-align: left;
  }
  
  
  .contact-form{
    display: flex;
    flex-direction: row;
    /*flex-flow: row wrap;*/
    justify-content: space-between;
    width:100%;
  }
  .contact-form1{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-between;
    width:100%;
    background-image: url();
    background: #14619D;
    padding-left:50px ;
  }
  #sect1{
    width: 100%;
    color:#25A0D8;
    background-color: white;
    padding-top: 15px ;
    
    padding-left: 6px;

  }
  
  #sect2{
    width:100%;
    color:white;

  }
  
  .contact-form > div {
    width: 500px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
  }
  
  .input-field {
    height: 40px;
    margin: 15px 0;
  }
  
  .contact-btn {
    margin-top: 15px;
    height: 40px;
    color: white;
    border: 0;
    background-color: #f4511e;
  }
  
  @media only screen and (min-width:320px) and (max-width:725px){
    .contact-form{
      display: flex;
      flex-direction: column;
      /*flex-flow: row wrap;*/
      width:80%;
    }
  
    .section{
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
  
  
    .small-div {
      width: 80%;
    }
  }
  
  